@tailwind base;
@tailwind components;
@tailwind utilities;

.non-printable {
  display: block;
}

.printable {
  width: inherit;
}

@media print {
  .non-printable {
    display: none;
  }
  .printable {
    width: 100%;
    font-size: 12px;
    border-radius: 0%;
    box-shadow: none;
    border: 0;
  }
}
